<ion-view align-title="center" view-title="Create Order" >

<ion-content>

  <!-- owner_Id: ObjectId,
  agent_Id: ObjectId, -->

  <div class="padding">
    <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Order Hints</span>
                    <input type="text" ng-model="order.hint" placeholder="Order Hints">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Full Details</span>
                    <textarea  type="text" ng-model="order.details" placeholder="Full Details" rows="8" cols="40"></textarea>
                    <!-- <input type="text" placeholder="Full Details"> -->
                </label>
                <br />
                <label class="item item-input item-select">
                  <div class="input-label">
                    Delivery Time
                  </div>
                  <select ng-model="order.deliveryTime">
                    <option>5 mins</option>
                    <option selected>30 mins</option>
                    <option>1hr</option>
                    <option>2hr</option>
                    <option>12hr</option>
                    <option>24hrs</option>
                  </select>
                </label>
                <br />
                <div class="item item-checkbox">
                    <label class="checkbox" >
                        <input type="checkbox" >
                    </label>
                    I read the terms &amp; conditions.
                </div>

                <button ng-disabled="!order.hint || !order.details || !order.deliveryTime " ng-click="createOrder(order)" class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Create Order
                </button>

                <div ng-if="err" class="row ">
                  <p>
                    {{err}}
                  </p>
                </div>
            </div>

  </div>
</ion-content>


</ion-view>
