<ion-view view-title="Deliveries">

  <ion-content>

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/arya.jpg">
        <h2>Agent userName</h2>
        <p>"Agent FullName Agent Id"</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/arya.jpg">

        <div class="row">
          <div class="col col-50"><strong>Date: </strong>  4184205</div>
          <div class="col col-50 "><strong>Delivered: </strong>  yes</div>
        </div>
        <div class="row">
          <div class="col col-50"><strong>Agent Id: </strong>  4184205</div>
          <div class="col col-50 "><strong>ownerId: </strong>  4184205</div>
        </div>
        <div class="row">
          <div ><strong>TransactionID: </strong>  4184205</div>
        </div>

        <p><strong>ORDER FULL DETAILS: </strong><br>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
        </p>

      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
          <i class="icon ion-thumbsup"></i>
          Report Delivery
        </a>
      </div>
    </div>

  </ion-content>

</ion-view>
