<ion-view  view-title="iGabriel Login" >
  <ion-content>
            <div class="padding">
              <div class="list">
                  <label class="item item-input item-floating-label">
                      <span class="input-label">Email</span>
                      <input type="email" placeholder="Email" ng-model="login.email">
                  </label>
                  <label class="item item-input item-floating-label">
                      <span class="input-label">Password</span>
                      <input type="password" placeholder="Password" ng-model="login.password">
                  </label>
            </div>
            <div class="row padding">
              <button class="button button-block  button-positive  icon-left ion-person" ng-disabled="!login.email || !login.password" ng-click="loginUser(login)" >
                Sign In
              </button>
            </div>
            <div ng-if="err" class="row ">
              <div class="col">
                <div class="text-center">
                  <p style="text-align: center">
                    {{err}}
                  </p>
                </div>

              </div>
            </div>
            <div class="row ">
              <div class="col">
                <div class="text-center">
                  <p style="text-align: center">
                    Don't have an account
                  </p>
                </div>

              </div>
            </div>
            <div class="row padding">
              <button class="button button-block button-calm icon-left ion-person-add" ng-click="goSignUp()">
                Sign Up
              </button>
            </div>
            </div>

  </ion-content>
</ion-view>
