<ion-view view-title="iDeliver Menu">

<ion-content  >

<div class="padding" >
  <button  ui-sref="app.feed"  type="button" class="button button-block button-flat  button-balanced" >
    Feed
  </button>

  <button  ui-sref="app.orders" type="button" class="button button-flat  button-block button-energized">
    Orders
  </button>

  <button  ui-sref="app.negotiaitions" type="button" class="button button-flat button-block button-calm">
    Negotiaitons
  </button>

  <button  ui-sref="app.deliveries" type="button" class="button button-flat button-block button-royal">
    Delivieries
  </button>

  <button   ui-sref="app.pendingOrders" type="button" class="button button-flat button-block button-assertive">
    Pending Orders
  </button>
</div>



</ion-content>


</ion-view>
