<ion-view view-title="Orders">

  <ion-content>
    <div class="row padding">
      <button   ui-sref="app.createOrder" type="button" class="button button-flat button-block button-balanced">
        Create New Order
      </button>
    </div>
    <div ng-if="err" class="row ">
      <div class="col">
        <div class="text-center">
          <p style="text-align: center">
            {{err}}
          </p>
        </div>

      </div>
    </div>
    <div class="list">
      <a class="item item-avatar" ng-repeat="order in ordersList">
        <!-- <img ng-src="{{order.ownerImgUrl}}"> -->
        <h2>{{order.owner_userName}}   </h2>
         <h2 class="pull-right">agent: {{order.agent_userName}}</h2>
        <p>{{order.hint}}</p>
      </a>
    </div>
  </ion-content>

</ion-view>
